{
  "presets": ["env"],
  "plugins": [
	"transform-async-to-generator", 
	["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }],
	["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
