{
  "presets": ["env"],
  "plugins": [
	"transform-async-to-generator", 
	["babel-plugin-root-import", [{
	  "rootPathSuffix": "src"
	}]],
	["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
